<app-navbar></app-navbar>
<div class="container mt-4">
  <div class="card">
      <div class="card-body">
          <span class="h3">
              Registro de Recursos para profesores
            </span>
          <button class="btn btn-dark" routerLink="/nueva-cosa">Crear nuevo Recurso</button>
         <table class="table mt-5 table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre del recurso</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Tipo de Recurso</th>
            <th scope="col">Contenido</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cosas">
            <td>{{item.Nombre}}</td>
            <td>{{item.asignaturaNombre2}}</td>
            <td>{{item.TipoRecurso}}</td>
            <td><li class="fas fa-eye fa-lg text-info" style="margin-right: 5px;"
              [routerLink]="['/lectura-recurso/',item.id]"></li></td>
            <td>

              <li class="fas fa-trash-alt fa-lg text-danger" (click)="eliminarCosa(item.id)"></li>
              <li class="fas fa-edit fa-lg text-info" style="margin-right: 5px;"
                [routerLink]="['/edita-cosa/',item.id]"></li>
            </td>
          </tr>
        </tbody>
      </table>
    
     

        </div>
  </div>
</div>